* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-size: 50px;
    background-color: #192A32;
}

.game {
    width: 315px;
}

.title {
    margin: 0 5px 5px 5px;
    padding: 10px 0;
}


.square {
    margin: 5px;
    width: 95px;
    height: 95px;
    font-weight: 500;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
}